<div class="roadmap">
  <div class="roadmap section__box">

    <div class="roadmap__inner section__row">
      <div class="roadmap__item-inner">

        <div class="roadmap__item">
          <h2 class="roadmap__title roadmap__title--a">Q4 2022</h2>
          <div class="roadmap__item-text-box">
            <img class="roadmap__img" src="/img/regular/icon/icon_roadmap.svg" alt="icon_roadmap.svg">
            <p class="roadmap__desc">Legal settlements</p>
          </div>
          <div class="roadmap__item-text-box">
            <img class="roadmap__img" src="/img/regular/icon/icon_roadmap.svg" alt="icon_roadmap.svg">
            <p class="roadmap__desc">NFT art
              development</p>
          </div>
          <div class="roadmap__item-text-box">
            <img class="roadmap__img" src="/img/regular/icon/icon_roadmap.svg" alt="icon_roadmap.svg">
            <p class="roadmap__desc">PFP collection
              art development</p>
          </div>
          <div class="roadmap__item-text-box">
            <img class="roadmap__img" src="/img/regular/icon/icon_roadmap.svg" alt="icon_roadmap.svg">
            <p class="roadmap__desc">Website launch</p>
          </div>
        </div>

        <div class="roadmap__item">
          <h2 class="roadmap__title roadmap__title--b">Q1 2023</h2>
          <div class="roadmap__item-text-box">
            <img class="roadmap__img" src="/img/regular/icon/icon_roadmap.svg" alt="icon_roadmap.svg">
            <p class="roadmap__desc">Discord and
              Twitter launch</p>
          </div>
          <div class="roadmap__item-text-box">
            <img class="roadmap__img" src="/img/regular/icon/icon_roadmap-alt.svg" alt="icon_roadmap-alt.svg">
            <p class="roadmap__desc roadmap__desc--alt">Pre-launch
              marketing</p>
          </div>
          <div class="roadmap__item-text-box">
            <img class="roadmap__img" src="/img/regular/icon/icon_roadmap-alt.svg" alt="icon_roadmap-alt.svg">
            <p class="roadmap__desc roadmap__desc--alt">Community
              growth</p>
          </div>
        </div>

        <div class="roadmap__item">
          <h2 class="roadmap__title roadmap__title--c">Q2 2023</h2>
          <div class="roadmap__item-text-box">
            <img class="roadmap__img" src="/img/regular/icon/icon_roadmap-alt.svg" alt="icon_roadmap-alt.svg">
            <p class="roadmap__desc roadmap__desc--alt">Mint</p>
          </div>
          <div class="roadmap__item-text-box">
            <img class="roadmap__img" src="/img/regular/icon/icon_roadmap-alt.svg" alt="icon_roadmap-alt.svg">
            <p class="roadmap__desc roadmap__desc--alt">Marketing
              campaign launch</p>
          </div>
          <div class="roadmap__item-text-box">
            <img class="roadmap__img" src="/img/regular/icon/icon_roadmap-alt.svg" alt="icon_roadmap-alt.svg">
            <p class="roadmap__desc roadmap__desc--alt">International
              booking scheduling</p>
          </div>
        </div>

        <div class="roadmap__item">
          <h2 class="roadmap__title roadmap__title--d">Q3 2023</h2>
          <div class="roadmap__item-text-box">
            <img class="roadmap__img" src="/img/regular/icon/icon_roadmap-alt.svg" alt="icon_roadmap-alt.svg">
            <p class="roadmap__desc roadmap__desc--alt">Start of
              international
              booking</p>
          </div>
        </div>
      </div>

      <img src="/img/regular/roadmap/roadmap-logo.png" alt="roadmap-logo.png" class="roadmap__logo">

    </div>

  </div>
</div>