<div class="collection">
    <div class="collection__inner section__box">
        <div class="collection__textbox section__cell">
            <div class="collection__text paragraph">
                <p class="paragraph__item">
                        Coffin Dance crew put <a class="link">international booking (including nightclubs)</a> in the hands of the community, which will be carried out <a class="link">exclusively</a> through owning a rare NFT from a limited collection of <a class="link">5,000 NFTs</a>.
                </p>
                <!-- <p class="paragraph__item">Golden Coffins have engravings with 900 unique international names  - find yours!</p> -->
                <p class="paragraph__item">Coffins tokens have their own serial number and unique names and surnames of deceased celebrities to honor their memory. </p>
                <p class="paragraph__item">
                    Use Golden Coffin Dance NFTs as profile pictures - show everyone your life-time right to the unique funeral.
                </p>
            </div>
        </div>
        <div class="collection__imgbox deco__animation-glow section__cell">
            <img src="/img/regular/collection/collection_coffin.png"
                 alt="collection"
                 title="collection"
                 class="img collection__img deco__animation-shake">
        </div>
    </div>
</div>
