.our-team {


  &__inner {}

  &__item-inner {
    @include row-flex();
    gap: 60px;

    @include bp480-block {
      gap: 60px 0;
    }

    @include bp994-block {
      justify-content: center;
    }

    @include bp1440-block {
      gap: 0px;
    }
  }


  &__item {
    @include col();
    @include size(12);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp1440-block {
      @include size(3)
    }


    @include bp480-block {
      @include size(6)
    }

    @include bp1100-block {
      @include size(5)
    }

    @include bp1440-block {
      @include size(3)
    }


  }

  &__img-box {
    margin-bottom: 10px;
    background: #5013FF;
    border-radius: 50%;

  }

  &__img {
    position: relative;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    top: 0px;


    @include bp768-block {
      max-width: 290px;

    }

  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 135%;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-bottom: 6px;
    max-width: 200px;

    @include bp768-block {
      font-size: 42px;
      max-width: 270px;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-bottom: 16px;
    max-width: 280px;
  }

  &__link-box {
    background: #100432;
    border: 0.9px solid #5013FF;
    border-radius: 48px;
    min-width: 163px;
    height: 37px;
    gap: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    padding: 6px 10px;
    -webkit-transition: background 0.25s, color 0.25s;
    -o-transition: background 0.25s, color 0.25s;
    transition: background 0.25s, color 0.25s;

    &:hover {
      background: #FFFFFF;
      border: 0.927469px solid #FFFFFF;
      border-radius: 48.2284px;
      color: #100432;

    }
  }

  &__icon {}

  &__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
    -webkit-transition: background 0.25s, color 0.25s;
    -o-transition: background 0.25s, color 0.25s;
    transition: background 0.25s, color 0.25s;

    &:hover {
      color: #100432;
    }
  }
}