.roadmap {

  &__inner {
    // width: 100%;
  }

  &__item-inner {
    position: relative;
    // padding: 122px 94px;
    padding: 44px 20px 0px 20px;
    overflow: hidden;
    background: radial-gradient(60.11% 29.93% at 49.4% 50.07%, #150B37 0%, #000000 100%);
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */

    @include bp1100-block {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 0 80px;
      padding: 80px 80px 0px 80px;
      background: radial-gradient(34.11% 49.93% at 49.4% 50.07%, #150B37 0%, #000000 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
      ;

    }

    @include bp1440-block {
      flex-direction: row;
      gap: 20px;
      padding: 40px 30px 0 30px;
      flex-wrap: nowrap;
    }

    &::after {
      position: absolute;
      top: -7px;
      right: -7px;
      bottom: -7px;
      left: -7px;
      content: "";
      border: dashed 10px #fff;


    }
  }

  &__item {

    margin-bottom: 50px;
    margin-left: 14px;



    @include bp768-block {
      margin-bottom: 70px;
    }
  }

  &__title {
    position: relative;
    width: 120px;
    height: 40px;
    background: linear-gradient(180deg, #5828C0 0%, #3B1FA0 100%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    line-height: 45px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: -14px;

    @include bp480-block {
      font-size: 26px;

      width: 140px;
    }

    @include bp768-block {
      margin-bottom: 38px;
      font-size: 30px;

      width: 168px;
      height: 52px;
    }

    &--a {
      &::after {
        content: "";
        position: absolute;
        bottom: -183px;
        left: 14px;
        border: 1px solid #1BFF6C;
        width: 0px;
        height: 182px;

        @include bp768-block {
          height: 270px;
          bottom: -270px;
        }
      }
    }

    &--b {
      &::after {
        content: "";
        position: absolute;
        bottom: -62px;
        left: 14px;
        border: 1px solid #1BFF6C;
        width: 0px;
        height: 60px;

        @include bp768-block {
          height: 100px;
          bottom: -100px;
        }


      }

      &::before {
        content: "";
        position: absolute;
        bottom: -133px;
        left: 14px;
        border: 1px solid white;
        width: 0px;
        height: 70px;

        @include bp768-block {
          height: 100px;
          bottom: -202px;
        }
      }
    }

    &--c {
      &::after {
        content: "";
        position: absolute;
        bottom: -139px;
        left: 14px;
        border: 1px solid white;
        width: 0px;
        height: 137px;

        @media (min-width:407px) {
          bottom: -134px;
          height: 132px;
        }

        @include bp768-block {
          height: 202px;
          bottom: -202px;
        }
      }
    }

    &--d {
      &::after {
        content: "";
        position: absolute;
        bottom: -35px;
        left: 14px;
        border: 1px solid white;
        width: 0px;
        height: 33px;

        @include bp768-block {
          height: 65px;
          bottom: -65px;
        }
      }
    }
  }

  &__item-text-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
  }

  &__img {
    max-width: 50px;

    @include bp480-block {}

    @include bp768-block {
      max-width: 85px;

    }
  }

  &__desc {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1BFF6C;



    @include bp480-block {
      font-size: 22px;
    }

    @include bp768-block {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__desc--alt {
    color: white;

  }

  &__logo {
    width: 100%;
    margin-top: 30px;

    @include bp768-block {
      width: 779px;
      height: 145px;
    }
  }
}

.section {

  &__box {}
}