<div class="tokenomics">
    <div class="tokenomics__inner section__box">
        <div class="section__cell section__cell_phase_alt">
            <div class="tokenomics__imgbox">
                <img src="/img/regular/tokenomics/tokenomics_phase_2.png"
                     alt="tokenomics"
                     title="tokenomics"
                     class="img tokenomics__img">
            </div>
        </div>
        <div class="tokenomics__textbox section__cell">
            <div class="tokenomics__text paragraph">
                <!-- <p class="paragraph__item tokenomics__phase">PHASE 2 - Q1 2023</p> -->
                <!-- <p class="paragraph__item tokenomics__title">Bury deadbois</p> -->
                <!-- <p class="paragraph__item"> -->
                <!--     Deadboys are an additional PFP collection inside the main one. They all are dead and buried, and never had a chance to decide how the funeral would go. We are here to give this chance to you! -->
                <!-- </p> -->
                <p class="paragraph__item">Deadboys&Deadgirls is an additional PFP collection of five types of rarity.</p>
                <p class="paragraph__item">The only way to get it is to use the utility of the main token and burn it. Thus, it will motivate the community to burn the main tokens and pump the price of the remaining. This is not just an avatar - it confirms that you are part of the Dancing Pallbearers family and contribution to the community.</p>
            </div>
        </div>
    </div>
</div>
