<div class="tokenomics">
    <div class="tokenomics__inner section__box">
        <div class="tokenomics__textbox section__cell">
            <div class="tokenomics__text paragraph">
                <!-- <p class="paragraph__item tokenomics__phase">PHASE 1</p> -->
                <!-- <p class="paragraph__item tokenomics__title">Build coffins</p> -->
                <!-- <p class="paragraph__item">Coffins are resting places for Deadbois.</p> -->
                <!-- <p class="paragraph__item"> -->
                <!--     The collection has 5 tiers of coffins made of different materials which determine the utility a holder gets - check out rarity and utility section. -->
                <!-- </p> -->
                <p class="paragraph__item">The collection has 5 tiers of coffins made of different materials which determine the utility a holder gets - check out rarity and utility section.</p>
                <p class="paragraph__item">All 100% of the tokens are backed by exclusive utility, from online video greetings to dance performances at funerals and nightclubs abroad. All you need is to leave a request with the serial number of your token, and provide transfer and accommodation. Detailed information about the rules of booking is available in Whitepaper.</p>
            </div>
        </div>
        <div class="tokenomics__presentation section__cell">
            <div class="tokenomics__imgbox">
                {% for item in prize.prize_list %}
                    <img src="/img/regular/coffin/coffin_{{ item.img }}.png"
                         alt="{{ item.img }}"
                         data-id="{{ loop.index }}"
                         class="img tokenomics__img-anim{{ ' tokenomics__img-anim_active' if item.class_active else '' }}">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
