<div class="tokenomics">
    <div class="tokenomics__inner section__box">
        <div class="tokenomics__textbox section__cell">
            <div class="tokenomics__text paragraph">
                <!-- <p class="paragraph__item tokenomics__phase">PHASE 3</p> -->
                <!-- <p class="paragraph__item tokenomics__title">Mint</p> -->
                <!-- <p class="paragraph__item">Connect your wallet, mint right from our website and wait for the reveal.</p> -->
                <p class="paragraph__item">We are planning a limited whitelist mint on the Magic Eden platform in April 2023 with a mint price of 150 MATIC. Follow the news on our social networks!</p>
            </div>
        </div>
        <div class="tokenomics__buttonbox section__cell">
            <span class="deco__buttonbox">
                <div class="button button_view_primary button_size_xl">
                    <span class="button__text">Mint</span>
                </div>
            </span>
        </div>
    </div>
</div>
