<div class="tokenomics">
    <div class="tokenomics__inner section__box">
        {% include 'component/tokenomics/tokenomics-phase-1.njk' %}
        {% include 'component/tokenomics/tokenomics-phase-2.njk' %}
        {% include 'component/tokenomics/tokenomics-phase-3.njk' %}
        {% include 'component/tokenomics/tokenomics-phase-4.njk' %}
    </div>
</div>
