<div class="tokenomics">
    <div class="tokenomics__inner section__box">
        <div class="section__cell section__cell_phase_alt">
            <div class="tokenomics__imgbox">
                <img src="/img/regular/tokenomics/tokenomics_phase_4.png"
                     alt="tokenomics"
                     title="tokenomics"
                     class="img tokenomics__img">
                <img src="/img/regular/tokenomics/tokenomics_phase_4_burn.gif"
                     alt=""
                     class="img tokenomics__img-burn">
            </div>
        </div>
        <div class="tokenomics__textbox section__cell">
            <div class="tokenomics__text paragraph">
                <!-- <p class="paragraph__item tokenomics__phase">PHASE 4</p> -->
                <!-- <p class="paragraph__item tokenomics__title">Burn</p> -->
                <!-- <p class="paragraph__item"> -->
                <!--     Want to get the utility from your NFT? Burn it right on our website in the crematorium section(coming soon). -->
                <!--     Project's tokenomics aims to constant  burning of NFT of all types of rarity to ensure rise in value of the remaining ones. -->
                <!-- </p> -->
                <p class="paragraph__item tokenomics__phase">Project's tokenomics aims at constant burning of NFT of all types of rarity to ensure rise in value of the remaining ones.</p>
                <p class="paragraph__item">Each burning of a rare token will be announced in the social media and covered by journalists upon arrival in the country of the owner of the NFT to add value to the collection.  All greeting videos from wooden coffins will be published publicly on the social networks of the project (only with your consent)</p>
                <!-- <p class="paragraph__item paragraph__item_min"> -->
                <!--     Note! Before burning epic and legendary NFTs to book a live performance, check out booking rules and requirements - /link to the booking rules pdf/. -->
                <!-- </p> -->
            </div>
        </div>
    </div>
</div>
