.title {
  &__text {
    text-transform: uppercase;

    color: $color_light;

    font-family: 'Benzin', sans-serif;
    // display: block;
  }
}

.title_main {
  & .title__text {
    font-size: 40px;
    line-height: 54px;

    @include bp1100-block() {
      font-size: 110px;
      line-height: 130px;
    }

    span {

      background-image: radial-gradient(circle, rgba(62, 32, 156, 1) 40%, rgba(100, 43, 134, 1) 90%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.title_sub {
  & .title__text {}
}