<div class="faq">
    <ul class="faq__inner">
        <li class="faq__item">
            <div class="faq__q">Who are the Coffin Dancers?</div>
            <div class="faq__a">
                The meme with dancing pallbearers from Ghana blew up the Internet during pandemic and the original NFT with the Coffin Dance was sold at the auction for 327ETH. Since the team announced the start of international booking, we started working on the collection.
            </div>
        </li>
        <li class="faq__item">
            <div class="faq__q">When is Coffin Dance mint?</div>
            <div class="faq__a">Q2 2023</div>
        </li>
        <li class="faq__item">
            <div class="faq__q">What is the mint price?</div>
            <div class="faq__a">150 MATIC</div>
        </li>
        <li class="faq__item">
            <div class="faq__q">What are the maximum mints per wallet?</div>
            <div class="faq__a">3</div>
        </li>
        <li class="faq__item">
            <div class="faq__q">How to get a WL spot?</div>
            <div class="faq__a">
                The majority of WL spots will be used for marketing purposes, but you can get one following our instructions <a href="https://discord.gg/8RPTvvBTrJ">here</a>
            </div>
        </li>
        <li class="faq__item">
            <div class="faq__q">When is reveal?</div>
            <div class="faq__a">TBA</div>
        </li>
        <li class="faq__item">
            <div class="faq__q">How can I check the rarity?</div>
            <div class="faq__a">TBA</div>
        </li>
        <li class="faq__item">
            <div class="faq__q">How to book a team if I got a rare NFT?</div>
            <div class="faq__a">
                In order to book the Coffin Dance team you have to burn your NFT(will be available on our website).
            </div>
        </li>
        <li class="faq__item">
            <div class="faq__q">Why is this NFT collection beneficial to all parties?</div>
            <div class="faq__a">
                The world entertainment tour of the Coffin Dance team and any funerals abroad are possible only with the help of the community, through the NFT lottery. The team raises funds for the tour through crowdfunding, and the lucky ones who mint tokens with such a utility can burn it and earn money in real life. The performance becomes profitable to organize having received it at such a ridiculous price. With each next tour to the clubs and funerals, more and more people will know about tokens, and the less there will be on the market. That makes golden & platinum tokens a valuable asset.
            </div>
            <div class="faq__a">
                Tokenomics is designed in such a way that the owner of a platinum token can get a great financial benefit on their own by following a simple instruction for interacting with event agencies and clubs.
            </div>
            <div class="faq__a">
               Video greetings and zoom conversations do not require much effort from the team, but give liquidity to all other tokens. If the floor price falls, massive burns will occur, which in turn will reduce the number of core tokens, and lead to the release of additional Deadboys & Deadgirl tokens that will balance the tokenomics.
            </div>
            <div class="faq__a">
              Good trading volume is able to earn commission on the secondary market. Benjamin Aidoo is also a holder of a part of the tokens  and interested in their growth.
            </div>
        </li>

 <li class="faq__item">
            <div class="faq__q">Where can I see the smart contract and who is its developer?</div>
            <div class="faq__a">
               The developer of the smart contract will be the Magic Eden platform, on which the listing will be made.
            </div>
        </li>

         <li class="faq__item">
            <div class="faq__q">How many tokens does the team keep?</div>
            <div class="faq__a">
                15%, which will be smoothly unlocked over the next three years. 
            </div>
        </li>

          <li class="faq__item">
            <div class="faq__q">When will the instructions for interaction with clubs and event agencies appear?</div>
            <div class="faq__a">
                Q3 2023 
            </div>
        </li>

    </ul>
</div>
